@charset "utf-8";

*{margin: 0;padding: 0;}
body{box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; display: inline-block;}
span{display: inline-block;}

#wrap{margin: 0 auto; background-image: url(../images/black.png);}

.section01{width: 100%; min-height: 100vh;}
.section01 .section_inner{height: 100vh; display: flex;flex-direction: column;justify-content: center;align-items: center;}
.section01 .section_inner .text{text-align: center; font-size: 50px; color: #fff;}
.section01 .section_inner .text p{margin-bottom: 20px;}
.section01 .section_inner .text p:last-child{font-size: 20px;}






.section02{width: 100%; height: 100%;position: relative;}
.section02 .line{position: absolute;left: 50%;transform: translateX(-50%); width: 2px; height: 100%; background-color: rgba(255,255,255,0.2); z-index: 999;}
.section02 .line span{position: absolute;width: 100%; left: 0;top: 0;display: block;background-color: #0057ff;}
.section02 .section_content{min-height: 100vh; display: flex;justify-content: space-between; align-items: center;width: 1680px;margin: 0 auto;}
.section02 .section_content .link img{border-radius: 50px;}
/* .section02 .section_content:last-child .link img{border: 1px solid #fff;}/ */
.section02 .section_content .txt{color: #fff; text-align: center; border: 1px solid #ccc; border-radius: 50px; padding: 100px;}
.section02 .section_content .txt p{margin: 10px 0;}
.section02 .section_content .txt p:nth-child(1){font-size: 80px;}
.section02 .section_content .txt p:nth-child(2){font-size: 40px;}
.section02 .section_content .txt p:nth-child(3){font-size: 25px;}
.section02 .section_content .txt span{font-size: 15px;}



.section03{width: 100%; min-height: 100vh;}